@font-face {
    font-family:'myFirstFont';
    src: url(../font/magnificent.regular.ttf);
}
body
{
    font-family:'myFirstFont';
}

.slider
{
  width: 100%;
  height: 350px;
  background: #fff;
  overflow: hidden;
  border-bottom: 5px solid #ccc;
  margin-top: 60px;

}
.slider figure img{
  width:20%;
  float:left;
}
.slider figure
{
  position:relative;
  animation:15s slidy infinite;
  width: 500%;
}
@keyframes slidy
{
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  85% { left: -300%; }
  100% { left: -400%; }
}

.create {
     background: rgb(0, 61, 117);
    color: #f5f5f5;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
}
.logo {
    width: 80%;
    margin: 0px auto;
}
.logo img {
    width: 100%;
}
.town-main {
        top: 60px;
    position: absolute;
    width: 100%;
    background: rgba(0, 61, 117, 0.21);
    font-weight: 500;
    padding: 100px;
}
.town-main h1 {
   color: #fff;
    text-shadow: 0px 0px 11px #000;
    text-align: center;
    font-size: 30px;
    padding: 20px;
       background: rgba(0, 0, 0, 0.05);
}
.Search-bar {
 border: 0;
    background: rgba(255,255,255,.5);
    padding: 10px;
    color: #444;
    max-width: 100%;
}

.city {
    width: 12%;
    float: left;
    padding: 7px;
    background: #fff;
}
.searchbar {
    width: 83%;
    float: left;
    border: none;
    outline: none;
    background: #fff;
    padding: 6px;
}
.searchbtn {
        width: 5%;
    float: left;
    background: #d9534f;
}
.search-btn {
        width: 100%;
    padding: 16px;
}
.searchbar input {
        width: 100%;
    float: left;
    padding: 3px;
    border: none;
    font-size: 20px;
    outline: none;
    text-transform: capitalize;
}
.no-padding {
    padding: 0px;
}

.scrollbar {
        height: 130px;
    background: #F5F5F5;
    overflow-y: scroll;
    position: absolute;
    bottom: 18px;
    top: 50px;
    left: 127px;
    box-shadow: 0px 3px 11px #101010;
    z-index: 999;
    width: 89%;
}

.style-4::-webkit-scrollbar-track
{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);background-color:#F5F5F5;}
.style-4::-webkit-scrollbar{width:5px;background-color:#0275d8;}
.style-4::-webkit-scrollbar-thumb{background-color:#929292;border:1px solid #929292;}
.force-overflow{min-height:0px;}

.my-searchlist {
    width: 100%;
    height: auto;
    background: #fff;
}

.my-searchlist ul {
    list-style-type: none;
    margin-left: -40px;
}
.my-searchlist ul li {
    border-bottom: 1px solid #e8e8e8!important;
    color: #666!important;
    cursor: pointer!important;
    font-size: 16px!important;
    margin-bottom: 5px!important;
    padding: 7px!important;
    text-align: left!important;
    text-shadow: 0 0 11px #fff!important;
}
.head {
      text-align: center;
    font-size: 35px;
    letter-spacing: 2px;
    color: #006599;
    margin-top: 53px;
     margin-bottom: 35px; 
}
.border-line {
      background: #fff url(../img/line.jpg) center center no-repeat;
    height: 30px;
    /* background: #ccc; */
    margin-bottom: 30px;
}
.card-img-top {
       width: 100%;
    min-height: 240px;
    max-height: 200px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
       
}
.card-img-top2 {
    width: 100%;
    min-height: 270px;
    max-height: 202px;
    overflow: hidden;
    position: relative;
}
.rec
{
       background: #f1f1f1;
    color: #000;
    height: 210px;
    padding: 10px;
}
.rec1  h4
{
    
       padding: 10px;
    text-align: center;
    border-bottom: 2px dotted #ccc;
    margin-bottom: 15px; 

}

.rec1  h4 a
{
      color: #9a002a;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 20px;
}
.rec1 {
    background: #e8e8e8;
    margin: 10px;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
}

.festi-create {
    background-image: url(../img/bg.jpg);
    background-repeat: repeat-x;
    padding-bottom: 20px;
    background-position: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.festi-create .head {
    text-align: center;
    font-size: 35px;
    letter-spacing: 1px;
    color: #ffffff;
    padding-bottom: 16px;
}

.festi-create p {
    color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    /* text-shadow: 0px 0px 11px #5f5f5f; */
}


.festi-create .btn {
    margin-left: 45%;
    color: #006599;
    background: #fff;
    font-size: 20px;
    font-weight: 500;
}





.cuadro_intro_hover{
        padding: 0px;
        position: relative;
        overflow: hidden;
        height: 200px;
    }
    .cuadro_intro_hover:hover .caption{
        opacity: 1;
        transform: translateY(-150px);
        -webkit-transform:translateY(-150px);
        -moz-transform:translateY(-150px);
        -ms-transform:translateY(-150px);
        -o-transform:translateY(-150px);
    }
    .cuadro_intro_hover img{
        z-index: 4;
    }
    .cuadro_intro_hover .caption{
        position: absolute;
        top:150px;
        -webkit-transition:all 0.3s ease-in-out;
        -moz-transition:all 0.3s ease-in-out;
        -o-transition:all 0.3s ease-in-out;
        -ms-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;
        width: 100%;
    }
    .cuadro_intro_hover .blur{
        background-color: rgba(0,0,0,0.7);
        height: 300px;
        z-index: 5;
        position: absolute;
        width: 100%;
    }
    .cuadro_intro_hover .caption-text{
        z-index: 10;
        color: #fff;
        position: absolute;
        height: 300px;
        text-align: center;
        /*top:-20px;*/
        width: 100%;
    }
    .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.about-margin {
    margin: 5% 0 3% 0%;
}

.about-margin div {
    text-align: center;
}

.outer-div-right {
    padding-right: 100px;
    position: relative;
    padding-left: 0;
}
.inner-div h4 {
    margin-top: 20px;
    margin-bottom: 20px;
   /* font-family: 'Open Sans', sans-serif;*/
    font-weight: 600;
    font-size: 18px;
    padding: 15px;
    color: #0d0d0d;
}
.read-more p {
    text-align: center;
 /*   font-family: 'Open Sans', sans-serif;*/
    line-height: 30px;
    color: #282828;
   /* padding-bottom: 60px;*/
}
.outer-div-right:after {
    position: absolute;
    content: "";
    background: #cccccc;
    width: 1px;
    height: 215px;
    top: 42px;
    right: 39px;
}
.outer-div-left:after {
    position: absolute;
    content: "";
    background: #cccccc;
    width: 1px;
    height: 215px;
    top: 42px;
    left: 39px;
}
.res-bg
{
    background: url(../img/bg.png) center;
    padding:50px;
}


.foot {
    background:url(../img/footer.jpg);
}
.footer-copyright {
    border-top:1px solid #ccc;
    color: #FFF;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
    line-height: 46px;
    height: 46px;
}

.deff {
   
    padding-bottom: 20px;
    background-position: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.deff p {
    color: #000;
    padding-left: 110px;
    padding-right: 50px;
    font-size: 20px;
    /* text-shadow: 0px 0px 11px #5f5f5f; */
}

.d-cntnr2-img {
       background: url(../img/img4.png) no-repeat;
    width: 492px;
    height: 198px;
    /* margin-left: -50px; */
    margin-top: 15px;
    float: left;
}

.d-cntnr2-img:after {
       position: absolute;
    content: "";
    background: rgba(60, 60, 60, 0.35);
    width: 1px;
    height: 215px;
    top: -20px;
    right: -105px;
}
.food-bakasur-form .nav-tabs .nav-link 
{
    font-size: 18px;
    margin: 3px;
}


.main-top
{
   margin-top: 90px;
    background: #ccc;
    height: auto;
     margin-bottom: : 50px;
}

.white{
    background: #fff;
}
.food-tabs
{
       padding: 20px;
       height: auto;
       background: #eee;
}

.border-line3 {
    background: #fff url(../img/line.png) center center no-repeat;
    height: 22px;
    margin-top: -23px;
    margin-bottom: 30px;
}


.main-resto
{
       height: 195px;
}
.main-resto img {
       width: 100%;
    height: 195px;
    object-fit: cover;
}

.titleDiv {
    margin-bottom: 15px;
}
.titleDiv h4 {
    padding-right: 90px;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 20px;
    color: #212121;
    font-weight: bold;
}

.btn-blog {
    color: #fff;
    background-color: rgb(107, 107, 107);
    /* border-color: #5a5a5a; */
    margin-top: 55px;
}
.titleDiv h4 a {
    color: #212121;
}
 .titleDiv .location {
    font-weight: bold;
}
.listing-card-wrap .titleDiv .location a {
    color: #636363;
}

.con {
     border: 1px dashed #dcdcdc;
    cursor: pointer;
    padding: 8px;
    background: #fff;
}

.row1 p
{
    height: 75px;
}


.border-left {
    background: url(../img/side-border.png) no-repeat right top;
}

.enq
{
/*       background: #fff;*/
    padding-top: 82px;
    padding-left: 55px;
}
.enq .btn
{
      font-size: 18px;
    padding: 10px;
    letter-spacing: 2px;
}
.row1
{
    background: #fff;
    margin: 10px;
   cursor: pointer;
    padding-top:20px;
    padding-bottom: 10px;
        border: 1px solid #ccc;
}
.row1:hover
{
    background: #eee;
 }     


.menu-tab
{
  /*      background: #000;*/
    width: 30%;
    margin: 0px auto;
}



.border
{
        padding: 20px;
    border: 1px solid #ccc;
}


.blog-create {
    min-height: 550px;
    background: #fff;
   /* padding: 40px 130px 20px 130px;*/
}

.white {
    background: #fff;
    margin-top: 10px;
    /* padding-top: 15px; */
    margin-bottom: 15px;
}
.blog-margin-top {
    margin-top: 70px;
    min-height: 500px;
}

.blog1 {
    background: #f5f5f5;
}
.saving {
      background: rgba(54, 98, 123, 0.51);
    color: #f9fafc;
    text-align: center;
    padding: 7px;
    position: fixed;
    z-index: 9;
    width: 100%;
    /* box-shadow: 0px 0px 11px #ccc; */
    letter-spacing: 1px;
    font-size: 19px;
}
.main-middle {
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    padding-top: 5px;
    padding-bottom: 20px;
    background: rgba(243, 245, 249, 0.47);
}
.heading-new {
    font-size: 20px;
    color: #b70032;
}
.blog-form {
    padding: 20px;
    width: 100%;
    font-size: 17px;
    color: #000;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
    outline: none;
    letter-spacing: 0.7px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.margin-top {
    margin-top: 20px;
}

.cover-pc label {
    color: rgba(87, 87, 87, 0.39);
    cursor: pointer;
    margin: 8% 0;
    font-size: 42px;
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0);
}
.errorImage {
       width: 100%;
    background: rgb(243, 243, 243);
    color:rgb(220, 0, 60);
    font-size: 18px;
    padding: 5px;
    text-align: center;
}
.btn-primary2 {
      color: #fff;
    font-size: 20px;
    width: 100%;
    background-color: rgb(2, 78, 140);
    /* border-color: #5a5a5a; */
}
.cover-pc {
    min-height: 300px;
    border: 1px solid rgba(204, 204, 204, 0.41);
    background: rgb(255, 255, 255);
    margin-bottom: 10px;
    /* background-position: center 100%; */
    background-repeat: no-repeat;
    background-size: cover;
}

.main-middle {
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    padding-top: 5px;
    padding-bottom: 20px;
    background: rgba(243, 245, 249, 0.47);
}

.food-tabs2 {
    padding: 20px;
    height: auto;
    background:url(../img/bg1.jpg);
    background-size: cover;
}
.b-r
{
   border-right:1px solid #ccc; 
}

.padding
{
    padding:20px;
}
.mt-0, .my-0 {
    margin-top: 10!important;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.media-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.mr-3, .mx-3 {
    margin-right: 1rem!important;
}

.media-body p
{
    margin-top: 10px;
}

.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
.rounded-circle {
    border-radius: 50%!important;
}

.trovi-news .img4 {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 15px;
}
.trovi-share ul li {
    float: left;
    padding: 5px;
    font-size: 13px;
    cursor: pointer;
}
.bg-grey {
    /* background: #f1f1f1; */
    padding: 8px;
    border-radius: 3px;
    /* border: 1px solid rgba(204, 204, 204, 0.35); */
    cursor: pointer;
    margin-bottom: 5px;
}
.btn-follow {
      color: #003d75;
    border: 1px solid;
    background: #fff;
}
.button-fb {
    border: 1px solid #4a66a0;
    background-color: #4a66a0;
    padding: 0px;
    color: #fff;
}
.icon-social2 {
    display: inline-block;
    width: 30%;
    padding: 0px;
    font-size: 38px;
    float: left;
    background-color: rgba(0,0,0,0.1);
}
.text-social {
    display: inline-block;
    text-align: center;
    padding: 10px 0;
}
.button-twi {
    border: 1px solid #d8d8d8;
    background-color: #1da1f2;
    padding: 0px;
    color: #ffffff;
    margin-left: 10px;
}
.blog p
{
    margin-top: 10px;
    line-height: 30px;
}

.blog button
{
    margin-top: -38px;
}

.blog-main p
{
    line-height: 32px;
}

.dark {
    padding-top: 15px;
    font-size: 25px;
    color: #00a1ab;
    padding-bottom: 25px;
    background: #fff;
}
.trovi-card .trovi-news {
    padding-bottom: 10px;
    line-height: 18px;
    color: #506066;
    z-index: 9;
}
.trovi-link {
    color: #585858;
    font-size: 14px;
    font-weight: bold;
}
.trovi-news .img3 {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    float: left;
    margin: 5px;
}
.trovi-card {
    margin: 5px 0;
    padding: 10px 0;
    padding-bottom: 0;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 1px rgba(0,0,0,0.3);
}
.trovi-card .trovi-image img {
    min-height: 200px;
    border-radius: 0;
    max-height: 300px;
    object-fit: cover;
}
.image-overlay {
    position: absolute;
    top: 0;
    bottom: 28px;
    width: 100%;
    border-radius: 2px 2px 0 0;
    background: rgba(0,0,0,0.4);
    background: -webkit-linear-gradient(to bottom,rgba(0,0,0,0.0) 50%,rgba(0,0,0,0.0) 50%,rgba(0,0,0,0.6) 100%);
    background: -moz-linear-gradient(to bottom,rgba(0,0,0,0.0) 50%,rgba(0,0,0,0.0) 50%,rgba(0,0,0,0.6) 100%);
    background: -o-linear-gradient(to bottom,rgba(0,0,0,0.0) 50%,rgba(0,0,0,0.0) 50%,rgba(0,0,0,0.6) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0.0) 50%,rgba(0,0,0,0.0) 0,rgba(0, 0, 0, 0.79) 100%);
}
.trovi-title {
    position: absolute;
    bottom: 45px;
    margin: 12px 16px;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,0.6);
    left: 0;
    right: 0;
    word-wrap: break-word;
}
.trovi-image img {
    width: 100%;
}
.trovi-share ul {
    list-style: none;
    margin-left: -45px;
}
.trovi-share ul li {
    float: left;
    padding: 9px;
    font-size: 15px;
    line-height: 0px;
    cursor: pointer;
}
.trovi-share ul li i {
    color: #009292;
}
.no-padding {
    padding: 0px;
}
.travel-tag {
    font-size: 20px!important;
    line-height: 36px!important;
    margin: 18px auto;
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
}
.travel-tag a {
    color: #347fc4;
    text-decoration: none;
    letter-spacing: 0;
    font-style: italic;
}
.abt-author .img3 {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    float: right;
}

.main-left-edit .img4 {
    height: 240px;
    max-height: 240px;
    width: 240px;
    object-fit: cover;
    border-radius: 7%;
}










/*--login--*/
.modal-dialog {
    margin: 10em auto 0;
}
.modal-header {
    padding: 25px;
}
.modal-body {
    padding: 50px 15px 70px 15px;
}
.btn_red:hover {background: #9F9F9F;}

a.btn { text-align: center; text-decoration: none;}

.one_half {width:50%; display: block; float:left;}
.one_half.last {width:45%; margin-left:5%;}

/* Popup Styles*/
.popupHeader {font-size:16px; text-transform: uppercase;}
.popupHeader {background:#F4F4F2; position:relative; padding:10px 20px; border-bottom:1px solid #DDD; font-weight:bold;}
.popupHeader .modal_close {position: absolute; right: 0; top:0; padding:10px 15px; background:#E4E4E2; cursor: pointer; color:#aaa; font-size:16px;}

.popupBody {padding:20px;}


/* Social Login Form */
.social_login {}
.social_login .social_box {display:block; clear:both; padding:10px; margin-bottom: 10px; background: #F4F4F2; overflow: hidden;}
.social_login .icon {display:block; width:11%; padding:5px 10px; margin-right: 10px; float:left; color:#FFF; font-size:15px; text-align: center;} 
.social_login .fb .icon {background:#3B5998;}
.social_login .google .icon {background:#DD4B39;}
.social_login .icon_title {display:block; padding:5px 0; float:left; font-weight: bold; font-size: 16px; color:#777;}
.social_login .social_box:hover {background: #E4E4E2;}

.centeredText {text-align: center; margin: 20px 0; clear: both; overflow: hidden; text-transform: uppercase;}

.action_btns {clear:both; overflow: hidden;}
.action_btns a {display: block;}

/* User Login Form */
.user_login {display: none;}
.user_login label {display: block; margin-bottom:5px;}
.user_login input[type="text"], .user_login input[type="email"], .user_login input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_login input[type="checkbox"] {float:left; margin-right:5px;}
.user_login input[type="checkbox"]+label {float:left;}

.user_login .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}
.forgot_password {display:block; margin: 20px 0 10px; clear: both; overflow: hidden; text-decoration: none; color:#ED6347;}

/* User Register Form */
.user_register {display: none;}
.user_register label {display: block; margin-bottom:5px;}
.user_register input[type="text"], .user_register input[type="email"], .user_register input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_register input[type="checkbox"] {float:left; margin-right:5px;}
.user_register input[type="checkbox"]+label {float:left;}

.user_register .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}
div#OR {
    height: 30px;
    width: 30px;
    border: 1px solid #C2C2C2;
    border-radius: 50%;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    float: right;
    position: absolute;
    right: -16px;
    top: 40%;
    z-index: 1;
    background: #ffffff;
}
ul.nav.nav-tabs {
    border-bottom: 1px solid #ddd;
    margin-bottom: 2em;
    padding-bottom: 1em;
}
.modal-open .modal {
    background: rgba(0, 0, 0, 0.61);
}
h3.other-nw {
    margin: 16px 0;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    text-align: center;
    font-size: 30px;
    color: #000;
}
.modal-content {
    border-radius: 0px;
}
/**** LOGIN_SIGNUP ******/
/* signup Form styles */
#signup ol{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#signup li{
    position: relative;
    margin: 20px 0px;
}
#signup fieldset input,
#signup fieldset textarea,
#signup fieldset select{
    background: #fff url(ico_validation.png) 379px 24px no-repeat;
    display: inline-block;
    width: 371px;
    border: 1px solid #fff;
    padding: 3px 26px 3px 3px;      
    -moz-transition: background-color 1s ease;
    -webkit-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
    transition: background-color 1s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#signup fieldset select{ 
    width: 401px; 
    padding: 3px;
}
#signup fieldset #postcode{ 
    padding: 3px;
    width: 400px;
}
#signup input::-webkit-input-placeholder,
#signup input:-moz-placeholder {
    color: #A6A6A6;
}
#signup .validation01
{ 
    background: red;
    color: #fff;
    display: none;
    font-size: 12px;
    padding: 3px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0;
    width: 200px;
    outline: 0;
    
    -moz-box-shadow: 0px 0px 4px #ffffff;
    -webkit-box-shadow: 0px 0px 4px #ffffff;
    box-shadow: 0px 0px 4px #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#signup input:focus + .validation01 { 
    display: block; 
}
#signup input:focus:required:invalid + .validation01 .valid,
#signup input.error:focus + .validation01 .valid,
#signup input.required:focus + .validation01 .valid,
#signup input:focus + .validation01 .valid  {
    display: none; 
}
#signup input:focus:required:valid + .validation01,
#signup input.valid:focus + .validation01{ 
    background: green; 
}
#signup input:focus:required:valid + .validation01 .invalid,
#signup input.valid:focus + .validation01 .invalid  { 
    display: none; 
}
#signup input:focus:required:valid + .validation01 .valid,
#signup input.valid:focus + .validation01 .valid{
    display: block; 
}
#signup fieldset input:required:valid{ 
    background-color: #fff;
    background-position: 379px -61px;
}

/* Enhanced error styling */
#signup input.error{
    background-color: pink; 
    background-position: 379px 3px;
    outline: none; 
}
#signup input.required{
    background-color: #fff; 
    background-position: 379px -29px;
}
#signup input.valid { 
    background-color: #fff;
    background-position: 379px -61px;
}

#signup input.error::-webkit-input-placeholder,
#signup inputerror :-moz-placeholder {
    color: #fff;
}

input#tel {
    width: 85%;
    padding: 10px;
    font-weight: normal;
    background: none;
    border: 1px solid #e4e4e4;
    color: #545454;
    outline: none;
    font-size: 14px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    background: #fff;
    -moz-transition: 0.5s all;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 85%;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #e4e4e4;
}
.bootstrap-select > .dropdown-toggle {
    padding: 10px 25px 10px 10px;
}
.btn {
    border-radius: 0;
}
i.icon.inner-icon {
    font-size: 95px;
    color: #000;
    margin-left: 30px;
}


.tab-content {
    padding: 15px;
    padding-top: 0px; 
    padding-left: 0px; 
    padding-bottom: 0px;
    border-top: none;
}
.nav-tabs {
    border: none;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.nav-tabs > li > a {
    background: #f8f8f8;
    margin-right: 3px;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    font-size: 15px;
    color: #555;
    padding: 15px 30px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.nav-tabs > li > a .fa {
    margin-right: 10px;
}
.nav-tabs > li.active > a{
    border: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    background-color: #FF7900;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    color: #fff;
    background-color: #FF7900;
}
.nav-tabs > li > a i {
    font-size: 32px;
    margin-right: 20px;
    vertical-align: middle;
}
.tab-content p {
    line-height: 2.2em;
    font-size: 14px;
}


.form-group {
    margin-bottom: 15px;
}










/*=========================== 
14. account page
============================= */ 
.entry-header-area{padding: 30px 0;}
.entry-header{}
h1.entry-title{font-size: 20px;
margin: 0;
text-transform: uppercase;}
.my-account-area {
  padding-bottom: 70px;
}
.form-fields{border:1px solid #e8e8e9;
float: left;
padding: 20px 25px;
width: 100%;}
.form-fields h2{border-bottom: 1px solid #e8e8e9;
font-size: 18px;
margin: 0 0 15px;
padding: 0 0 5px;
text-transform: uppercase;}
.form-fields p{}
.form-fields p label {
  display: block;
  font-family: Montserrat,Arial,Helvetica,sans-serif;
  font-weight: 400;
  margin: 0 0 5px;
}
.form-fields p label span.required{}
.form-fields p input{background: #fff none repeat scroll 0 0;
border: 1px solid #e8e8e9;
border-radius: 0;
height: 32px;
width: 100%;
padding: 0 0 0 10px;}
.form-action{background: #f5f5f5 none repeat scroll 0 0;
border-color: #e8e8e9 #e8e8e9;
border-style: none solid solid;
border-width: medium 1px 1px;
float: left;
padding: 15px 10px;
width: 100%;}
.form-action p.lost_password{float: left;
line-height: 36px;
margin: 0;}
.form-action input[type="submit"] {
  background: #252525 none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  float: right;
  font-family: Montserrat,Arial,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  text-shadow: none;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.form-action input[type="submit"]:hover{background:#EC4445}
.form-action label{float: right;
font-weight: normal;
line-height: 36px;
margin: 0 20px 0 0;}
.form-action label input{margin-right: 3px;
margin-top: 0;
position: relative;
top: 2px;}



/*=========================== 
17. checkout page
============================= */
.coupon-area{}
.coupon-accordion{}
.coupon-accordion h3 {
  background-color: #f7f6f7;
  border-top: 3px solid #1e85be;
  color: #515151;
  font-size: 12px;
  font-weight: 300;
  list-style: outside none none !important;
  margin: 0 0 2em !important;
  padding: 1em 2em 1em 3.5em !important;
  position: relative;
  width: auto;
}
.coupon-accordion h3::before {
  color: #1e85be;
  content: "";
  display: inline-block;
  font-family: fontawesome;
  left: 1.5em;
  position: absolute;
  top: 1em;
}
.coupon-accordion span {
  cursor: pointer;color: #6f6f6f;
}
.coupon-accordion span:hover,p.lost-password a:hover{color: #EC4445;}
.coupon-content {
  border: 1px solid #e5e5e5;
  display: none;
  margin-bottom: 20px;
  padding: 20px;
}
.coupon-info{}
.coupon-info p.coupon-text{margin-bottom:15px}
.coupon-info p{margin-bottom:0}
.coupon-info p.form-row-first{}
.coupon-info p.form-row-first label,.coupon-info p.form-row-last label{display: block;}
.coupon-info p.form-row-first label span.required,.coupon-info p.form-row-last label span.required{
color: red;
font-weight: 700;}
.coupon-info p.form-row-first input,.coupon-info p.form-row-last input{border: 1px solid #e5e5e5;
height: 36px;
margin: 0 0 14px;
max-width: 100%;
padding: 0 0 0 10px;
width: 370px;}
.coupon-info p.form-row-last{}
.coupon-info p.form-row input[type="submit"]:hover,p.checkout-coupon input[type="submit"]:hover{background:#EC4445 }
.coupon-info p.form-row input[type="checkbox"] {
  position: relative;
  top: 2px;
}
.form-row > label {
  margin-top: 7px;
}
p.lost-password{
margin-top: 15px;}
p.lost-password a{color: #6f6f6f;}
p.checkout-coupon{}
p.checkout-coupon input[type=text]{height: 36px;
padding-left: 10px;
width: 170px;}
p.checkout-coupon input[type=submit]{background: #333 none repeat scroll 0 0;
border: medium none;
border-radius: 0;
color: #fff;
height: 36px;
margin-left: 6px;
padding: 5px 10px;transition: all 0.3s ease 0s;}
.coupon-checkout-content {
  margin-bottom: 30px;
  display:none;
}
.checkout-area{}
.checkbox-form{}
.checkbox-form h3 {
  border-bottom: 1px solid #e5e5e5;
  font-size: 30px;
  margin: 0 0 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
  width: 100%;
}
.country-select{margin-bottom: 30px;
position: relative;}
.country-select label,.checkout-form-list label{color: #333;
font-family: Montserrat,Arial,Helvetica,sans-serif;
margin: 0 0 5px;display:block}
.country-select label span.required,.checkout-form-list label span.required{color:red}
.country-select select{-moz-appearance: none;
border: 1px solid #ddd;
height: 32px;
padding-left: 10px;
width: 100%;}
.country-select::before {
  content: "";
  display: inline-block;
  font-family: fontawesome;
  font-size: 20px;
  position: absolute;
  right: 12px;
  top: 31px;
}
.checkout-form-list{margin-bottom: 30px;}
.checkout-form-list label{color: #333;}
.checkout-form-list label span.required{}
.checkout-form-list input[type=text],.checkout-form-list input[type=password],.checkout-form-list input[type=email]{background: #fff none repeat scroll 0 0;
border: 1px solid #e5e5e5;
border-radius: 0;
height: 42px;
width: 100%;
padding: 0 0 0 10px;}
.checkout-form-list{}
.checkout-form-list input[type=checkbox]{display: inline-block;
margin-right: 10px;
position: relative;
top: 2px;}
.create-acc label {
  color: #333;
  display: inline-block;
}
.checkout-form-list input[type=password]{}
.create-account{display:none}
.ship-different-title{}
.ship-different-title h3 label{display: inline-block;
margin-right: 20px;}
.ship-different-title input{}
.order-notes{}
.order-notes textarea{height: 90px;
padding: 15px;width:100%}
#ship-box-info{display:none}

.your-order{background: #f2f2f2 none repeat scroll 0 0;
padding: 30px 40px 45px;}
.your-order h3{border-bottom: 1px solid #d8d8d8;
font-size: 30px;
margin: 0 0 20px;
padding-bottom: 10px;
text-transform: uppercase;
width: 100%;}
.your-order-table table{background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
border: medium none;
width: 100%;}
.your-order-table table th, .your-order-table table td {
  border-bottom: 1px solid #d8d8d8;
  border-right: medium none;
  font-size: 14px;
  padding: 15px 0;
  text-align: center;
}
.your-order-table table th{border-top: medium none;
font-family: Montserrat,Arial,Helvetica,sans-serif;
font-weight: normal;
text-align: center;
text-transform: uppercase;
vertical-align: middle;
white-space: nowrap;
width: 250px;}
.your-order-table table .shipping ul li input{position: relative;
top: 2px;}
.your-order-table table .shipping  th{vertical-align: top;}
.your-order-table table .order-total th{border-bottom: medium none;
font-size: 18px;}
.your-order-table table .order-total td{border-bottom: medium none;}
.your-order-table table tr.cart_item:hover{background:#F9F9F9}
.your-order-table table tr.order-total td span {
  color: #ec4445;
  font-size: 20px;
}
.your-order-table table{}
.payment-method {
  margin-top: 40px;
}
.payment-accordion{}
.payment-accordion h3{border-bottom: 0 none;
margin-bottom: 10px;
padding-bottom: 0;}
.payment-accordion h3 a{color: #6f6f6f;
font-size: 14px;
padding-left: 25px;
position: relative;
text-transform: capitalize;text-decoration:none}
.payment-accordion h3 a:before,.payment-accordion h3.open a:after{content: "";
display: inline-block;
font-family: fontawesome;
font-size: 20px;
left: 0;
position: absolute;
top: -2px;}
.payment-accordion h3.open a:after{content: "\f056";}
.payment-content{}
.payment-content p{font-size: 13px;}
.payment-accordion img {
  height: 60px;
  margin-left: 15px;
}
.order-button-payment{}
.order-button-payment input {
  background: #ec4445 none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  height: 42px;
  margin: 18px 0 0;
  padding: 0;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  width: 100%;
}
.order-button-payment input:hover{background:#E61719}

.bg-profile{background-color: #3498DB !important;height: 150px;z-index: 1;}
.bg-bottom{height: 100px;margin-left: 30px;}
.img-profile{display: inline-block !important;background-color: #fff;border-radius: 6px;margin-top: -50%;padding: 1px;vertical-align: bottom;border: 2px solid #fff;-moz-box-sizing: border-box;box-sizing: border-box;color: #fff;z-index: 2;}
.row-float{margin-top: -40px;}
.explore a {color: green; font-size: 13px;font-weight: 600}
.twitter a {color:#4099FF}
.img-box{box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);border-radius: 2px;border: 0;}

.text-123{
    border:none ;
    border-bottom: 1px dashed;
    
   /* border-style: dashed;*/
}
.mt{
    margin-top: 20px;
    margin-bottom: 20px;
}

.blog {
    background-color:#f6f6f6;
    padding:60px 0px;
    font-family: 'Raleway', sans-serif;
}

.blog .blog-column a{
    color: #5db4c0;
    text-decoration: none;
}

.blog  span {
    font-size: 17px;
    font-weight: 700;
}

.blog  .blog-detail {
    margin-top: 10px;
}

.fa.fa-user, .fa.fa-clock-o {
    padding-right: 10px;
    color: #909090;
    font-size: 11px;
}

/* USER PROFILE PAGE */
 .card2 {
    margin-top: 20px;
  /*  padding: 30px;*/
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card2.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card2.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
/*    margin-left: -100px;
*/    margin-top: 100px;
/*    min-width: 130%;
*/}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}
.food-card{
    min-height: 560px;
}